@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,500;0,600;0,700;1,400&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body{
    background-color: var(--color-base2);
    color:var(--color-body);
    font-family: var(--font-base),sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color:var(--color-heading);
    font-weight: 700;
}

a{
    text-decoration: none;
    color:var(--color-body);
    transition: all 0.4s ease;
}
a:hover{
    color:var(--color-brand);
}
img{
    width:100%;
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

.text-brand{
    color: var(--color-brand);
}
.text-brand2{
    color: var(--color-heading);
}

.bg-base{
    background-color:var(--color-base) ;
}

.shadow-effect{
    transition: all 0.5s;
}

.shadow-effect:hover{
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox{
    width:60px;
    height: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}

.college{
    margin-right: 90px;
}


/*Navbar*/
.navbar{
    background-color: var(--color-base);
}

.navbar .nav-link{
 font-weight: 700;
 text-transform: uppercase;
 color: white;
}

.navbar .nav-link:hover{
    color: var(--color-brand);
}

.navbar .nav-link.active{
    color:var(--color-brand);
}

@media(min-width:992px){
    .navbar{
        min-height: 100vh;
        width:var(--sidbar-width);
        background:linear-gradient(rgba(3, 63, 71,0.8),rgba(3, 63, 71,0.8)),url(../images/sidebar-img.jpg);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img{
        border: 8px solid var(--color-brand);
    }

    /*Content Wrapper*/
    #content-wrapper{
        padding-left: var(--sidbar-width);

    }
}

/*BUTTON*/
.btn{
    padding: 12px 28px;
    font-weight: 700;
}
.btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color:var(--color-base)
}
.btn-brand:hover,.btn-brand:focus{
    background-color: var(--color-brand2);
    color:var(--color-base);
    border-color:var(var(--color-brand2))
}
.link-custom{
    font-weight: 700;
    position: relative;
}
.link-custom::after{
    content:"";
    width:0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0%;
    top:110%;
    transition: all 0.4s;
}
.link-custom:hover::after{
    width: 100%;
}
/*BUTTON*/

/*SKILLS*/
.skills_main{
    padding: 0px 13%;
    margin-top: 4%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
} 

.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.info{
    color: var(--color-heading);
}
.skill_bar .info p:nth-child(2){
    color: var(--color-heading);
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: var(--color-brand);
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 80%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .js{
    width: 70%;
    animation: js 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .cpp{
    width: 75%;
    animation: cpp 2s;
}
@keyframes cpp {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
.skill_bar .bar .java{
    width: 60%;
    animation: java 2s;
}
@keyframes java {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}
.skill_bar .bar .spring{
    width: 60%;
    animation: spring 2s;
}
@keyframes spring {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}

.skill_bar .bar .node{
    width: 65%;
    animation: node 2s;
}
@keyframes node {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}

.skill_bar .bar .express{
    width: 60%;
    animation: express 2s;
}
@keyframes express {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}
/*SKILLS*/
#contact .form-control{
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus{
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder{
    color:var(--color-body);
}

#contact input.form-control{
    height:44px;
}

.copy{
    font-size: 18px;
}


.social-links a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}
